extends layout 

block content
    h1= title
    form(method='post' action='/books/new')
        h2(class="error") Oooops, an error occurred! 
        each error in errors
            ul(class="error")
                li= error.message
        p 
            label Title
            input
        p
            label Author 
            input
        p
            label Genre 
            input
        p
            label Year 
            input
        p
            input(type="submit" value="Create New Book")
        p   
            a.button(href="/") Cancel
        